<% if @errors %>
	<% @errors.each do |error| %>
		<p class="alert-danger"><%= error %></p>
	<% end %>
<% end %>

<h1>Post a message</h1>
<%= simple_form_for @post, url: wall_post_path do |f| %>
	<%= f.input :content, required: false, label: false %>
	<%= f.button :submit, 'Post a message', class: 'btn-primary col-md-offset-10' %>
<% end %>

<% if @posts %>
	<% @posts.each do |post| %>
		<div class="posts">
			<h3><%= post.user.first_name %> <%= post.user.last_name %> - <%= post.created_at.strftime("%B %d, %Y") %></h3>
			<p><%= post.content %></p>
			<% if @comments %>
				<% @comments.each do |comment| %>
					<% if comment.post_id == post.id %>
						<div class="comments col-md-offset-1">
							<h4><%= comment.user.first_name %> <%= comment.user.last_name %> - <%= comment.created_at.strftime("%B %d, %Y") %></h4>
							<p><%= comment.content %></p>
						</div>
					<% end %>
				<% end %>
			<% end %>
			<div class="add_message col-md-offset-1">
				<%= simple_form_for @comment, url: wall_comment_path do |f| %>
				<%= f.input :post, as: :hidden, input_html: { value: post.id } %>
					<%= f.input :content, required: false, label: false %>
					<%= f.button :submit, 'Add Comment', class: 'btn-success col-md-offset-10' %>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>